h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;

}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p{
    color: black;

}

#para1{
    font-weight: bold;
}

a{
    color: #8a2be2;
    text-decoration: none;
}

header{ width: 100%;
    height: 25vh;
    background-image: url(afb1.jpeg);
    background-size: cover;
    background-position: center;
    color: azure;
}

img{
    width: 50%;
}
article{
    border: 1px;
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    border-left-width: 20px;

}
